.ocupation-card {
    background-color: var(default);
}
.description {
    font-size: 16px;
}
.title {
    font-size: 24px;
}

@media (max-width: 768px) {
        .description {
        font-size: 12px;
    }
    .title {
        font-size: 12px;
    }
}