.intro {
    color: #D5E0EC;
    font-size: 18px;
    margin-bottom: 1rem;
}
.wrapper {
    margin-bottom: 8rem;
    padding: 16px
}
.intro-email {
    color: #00aeff;
    font-size: 18px;
    margin-bottom: 1rem;
}
.intro-email:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
        .intro {
        color: #D5E0EC;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
    .wrapper {
        margin-bottom: 0.2rem;
        padding: 4px
    }
}